@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Rubik";
  color: #4f5665;
}

body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.buttons {
  background: #f53838;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  padding: 17.5px 77.5px 17.5px 77.5px;
}

.buttons:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #9e3131;
}

.button {
  font-weight: 500;
  line-height: 19px;
  color: #f53838;
  padding: 13px 45px 13px 45px;
  border: 1px solid #f53838;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover {
  background-color: #f53838;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.used-block {
  text-align: center;
}

.used-block__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  padding: 0px 0px 20px 0px;
}

.used-block__text {
  text-align: center;
  line-height: 30px;
  color: #4f5665;
}

/*====================HEADER====================*/

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 137px;
}

.header .header__logo {
  padding: 0px 157px 0px 0px;
  z-index: 50;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu__item {
  margin-left: 40px;
}

.header .menu__link {
  line-height: 19px;
  color: #4f5665;
}

.header .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 150px;
  z-index: 49;
}

.header .header__button {
  line-height: 19px;
  color: #0b132a;
  padding: 0px 30px 0px 0px;
}

.header .burger {
  display: none;
  padding: 0px 0px 0px 20px;
}

/*====================PAGE====================*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__subscribe {
  position: relative;
  z-index: 2;
  margin: 0px 0px -109px 0px;
}

/*====================GET-STARTED====================*/

.get-started .get-started__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get-started .get-started__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.get-started .get-started__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  padding: 27.77px 0px 20px 0px;
  max-width: 555px;
}

.get-started .get-started__text {
  line-height: 30px;
  color: #4f5665;
  padding: 0px 0px 50px 0px;
  max-width: 555px;
}

.get-started .get-started__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  left: 9%;
}

/*====================USERS====================*/

.users .users__container {
  min-height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #ffffff;
  text-align: center;
  padding: 100px 0px 0px 100px;
}

.users .users__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.users .users__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.users .users__ite {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.users .users__content {
  display: block;
}

.users .users__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}

.users .users__text {
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
  padding: 0px 0px 0px 36.5px;
}

/*====================PROVIDE====================*/

.provide {
  padding: 100px 0px 0px 0px;
}

.provide .provide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.provide .provide__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.provide .provide__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 54.5px 0px 0px 169px;
}

.provide .provide__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  max-width: 383px;
  padding: 0px 0px 20px 0px;
}

.provide .provide__text {
  line-height: 30px;
  color: #4f5665;
  max-width: 427px;
  padding: 0px 0px 20px 0px;
}

.provide .provide-menu__body {
  margin: 0px 0px 0px 30px;
}

.provide .provide-menu__list {
  display: block;
}

.provide .provide-menu__item {
  margin-bottom: 15px;
}

.provide .provide-menu__item {
  list-style-image: url("../img/provide/lock.png");
}

.provide .provide-menu__link {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

/*====================PLAN====================*/

.plan .plan__used-block {
  padding: 80px 0px 60px 0px;
  max-width: 550px;
  position: relative;
  left: 30%;
}

.plan .plan__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.plan .plan__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-right: 25px;
  margin-left: 25px;
  height: 760px;
}

.plan .plan__icon {
  padding: 79.63px 0px 30px 0px;
}

.plan .plan__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  padding: 0px 0px 30px 0px;
}

.plan .plan-menu__body {
  padding: 0px 0px 0px 100px;
}

.plan .plan-menu__list {
  text-align: start;
}

.plan .plan-menu__item {
  list-style-image: url("../img/plan/lock.png");
  margin-bottom: 10px;
}

.plan .plan-menu__link {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.plan .plan__te,
.plan .plan__tex,
.plan .plan__text {
  font-size: 25px;
  line-height: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan .plan__te,
.plan .plan__tex,
.plan .plan__text span {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan .plan__te {
  padding: 130px 0px 30px 0px;
}

.plan .plan__tex {
  padding: 90px 0px 30px 0px;
}

.plan .plan__text {
  padding: 45px 0px 30px 0px;
}

/*====================GLOBAL====================*/

.global .global__container {
  text-align: center;
}

.global .global__used-block {
  max-width: 370px;
  padding: 150px 0px 155.81px 0px;
  position: relative;
  left: 35%;
}

.global .global__map {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0px 0px 35.81px 0px;
}

.global .global__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global .global__company-icons {
  padding: 0px 59.31px 0px 59.31px;
}

/*====================HAPPY====================*/

.happy {
  padding: 0px 0px 65.02px 0px;
}

.happy .happy__used-block {
  padding: 50px 0px 60px 0px;
  max-width: 447px;
  position: relative;
  left: 31%;
}

.happy .slide-swiper-happy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.happy .slide-swiper-happy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.happy .slide-swiper-happy__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 26.5px 0px 0px 0px;
}

.happy .slide-swiper-happy__avatar {
  padding: 30px 20px 0px 30px;
}

.happy .slide-swiper-happy__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0b132a;
}

.happy .slide-swiper-happy__city {
  font-size: 14px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #4f5665;
}

.happy .slide-swiper-happy__response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0b132a;
  align-items: center;
  padding: 20px 0px 0px 100px;
}

.happy .slide-swiper-happy__response-star {
  padding: 10px 0px 0px 10px;
}

.happy .slide-swiper-happy__text {
  max-width: 350px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0b132a;
  padding: 20px 0px 30px 30px;
}

.happy .swiper-happy__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.happy .swiper-happy__pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #dde0e4;
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  width: 15px;
  height: 15px;
}

.happy .swiper-happy__pagination .swiper-pagination-bullet-active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  background: #f53838;
}

/*====================SUBSCRIBE====================*/

.subscribe {
  background: #ffffff;
  border-radius: 10px;
  max-width: 1140px;
  position: relative;
  left: 19.5%;
}

.subscribe .subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 233px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  padding: 0px 0px 0px 70px;
}

.subscribe .subscribe__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0b132a;
  max-width: 371px;
  padding: 0px 0px 20px 0px;
}

.subscribe .subscribe__text {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f5665;
}

.subscribe .subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

/*====================FOOTER====================*/

.footer {
  background: #f8f8f8;
}

.footer .footer__container {
  padding: 180px 0px 100px 0px;
}

.footer .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.footer .footer__text {
  max-width: 340px;
  padding: 20px 0px 30px 0px;
}

.footer .footer__text span {
  font-weight: 500;
  line-height: 30px;
  color: #4f5665;
}

.footer .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 30px 0px;
}

.footer .footer__colunm {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.footer .footer__label {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  padding: 0px 0px 20px 0px;
}

.footer .footer-menu__item {
  padding: 0px 0px 10px 0px;
}

.footer .footer-menu__link {
  line-height: 30px;
  color: #4f5665;
}

@media (max-width: 1300px) {
  .subscribe {
    position: relative;
    left: 5.5%;
  }
}

@media (max-width: 1220px) {
  .header .header__logo {
    padding: 0px 120px 0px 0px;
  }

  .header .header__buttons {
    padding: 0px 0px 0px 120px;
  }
}

@media (max-width: 1150px) {
  .header .header__logo {
    padding: 0px 100px 0px 0px;
  }

  .header .header__buttons {
    padding: 0px 0px 0px 100px;
  }
}

@media (max-width: 1140px) {
  .subscribe {
    position: relative;
    left: 0;
  }
}

@media (max-width: 1100px) {
  .header .header__logo {
    padding: 0px 70px 0px 0px;
  }

  .header .header__buttons {
    padding: 0px 0px 0px 70px;
  }

  .plan .plan__item {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 1050px) {
  .header .header__logo {
    padding: 0px 50px 0px 0px;
  }

  .header .header__buttons {
    padding: 0px 0px 0px 50px;
  }

  .plan .plan__item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .plan .plan__item {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 1000px) {
  .header .header__logo {
    padding: 0px 30px 0px 0px;
  }

  .header .header__buttons {
    padding: 0px 0px 0px 30px;
  }

  .provide .provide__content {
    padding: 54.5px 0px 0px 100px;
  }

  .global .global__map {
    display: none;
    padding: 0px 0px 0px 0px;
  }

  .global .global__used-block {
    padding: 50px 0px 0px 0px;
    position: relative;
    left: 33%;
  }

  .global .global__company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .global .global__used-block {
    padding: 50px 0px 50px 0px;
    position: relative;
    left: 32%;
  }

  .global .global__company-ico {
    padding: 20px 0px 20px 0px;
  }

  .global .global__company-icons {
    padding: 20px 0px 20px 0px;
  }
}

@media (max-width: 950px) {
  .header .header__logo {
    padding: 0px 10px 0px 0px;
  }

  .header .header__buttons {
    padding: 0px 0px 0px 10px;
  }

  .header .menu__item {
    margin-left: 30px;
  }

  .subscribe .subscribe__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .subscribe .subscribe__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0px 0px 0px 150px;
  }
}

@media (max-width: 900px) {
  .provide .provide__content {
    padding: 30px 0px 0px 10px;
  }

  .plan .plan__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .plan .plan__item {
    margin: 0px 0px 20px 0px;
  }

  .subscribe .subscribe__button {
    padding: 0px 0px 0px 100px;
  }
}

@media (max-width: 850px) {
  .header .menu__item {
    margin-left: 20px;
  }

  .subscribe .subscribe__button {
    padding: 0px 0px 0px 50px;
  }
}

@media (max-width: 810px) {
  .header .header__button {
    padding: 0px 20px 0px 0px;
  }

  .get-started .get-started__image {
    display: none;
  }

  .get-started .get-started__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .get-started .get-started__title,
  .get-started .get-started__text {
    max-width: 650px;
  }

  .plan .plan__used-block {
    position: relative;
    left: 17%;
  }

  .plan .plan-menu__body {
    padding: 0px 0px 0px 325px;
  }

  .plan .plan__te {
    padding: 10px 0px 30px 0px;
  }

  .plan .plan__tex {
    padding: 10px 0px 30px 0px;
  }

  .plan .plan__text {
    padding: 10px 0px 30px 0px;
  }

  .global .global__used-block {
    left: 28%;
  }

  .happy .happy__used-block {
    left: 23%;
  }
}

@media (max-width: 800px) {
  .subscribe .subscribe__button {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .header .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: -100%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .header .menu__body.active {
    left: 0;
  }

  .header .menu__list {
    text-align: center;
    padding: 200px 0px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .menu__item {
    margin-bottom: 25px;
  }

  .header .menu__link {
    font-size: 30px;
    color: #fff;
  }

  .header .burger {
    display: block;
    cursor: pointer;
  }

  .header span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #000;
  }

  .header .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .header .burger.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(42deg);
        -ms-transform: translateY(8px) rotate(42deg);
            transform: translateY(8px) rotate(42deg);
  }

  .header .burger.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-40deg);
        -ms-transform: translateY(-8px) rotate(-40deg);
            transform: translateY(-8px) rotate(-40deg);
  }
}

@media (max-width: 750px) {
  .provide .provide__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .provide .provide__content {
    padding: 50px 0px 0px 10px;
  }

  .plan .plan__used-block {
    position: relative;
    left: 14%;
  }

  .plan .plan-menu__body {
    padding: 0px 0px 0px 295px;
  }

  .subscribe .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe .subscribe__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    padding: 0px 0px 0px 50px;
  }

  .subscribe .subscribe__text {
    padding: 0px 0px 50px 0px;
  }
}

@media (max-width: 700px) {
  .header .header__logo {
    padding: 0px 150px 0px 0px;
  }

  .users .users__container {
    padding: 100px 0px 0px 80px;
  }
}

@media (max-width: 650px) {
  .plan .plan__used-block {
    position: relative;
    left: 8%;
  }

  .plan .plan-menu__body {
    padding: 0px 0px 0px 240px;
  }

  .footer .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .header .header__logo {
    padding: 0px 100px 0px 0px;
  }

  .users .users__container {
    padding: 50px 0px 0px 230px;
  }

  .users .users__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .users .users__ite,
  .users .users__item {
    margin-bottom: 30px;
  }

  .global .global__used-block {
    left: 21%;
  }

  .happy .happy__used-block {
    left: 14%;
  }

  .happy .happy__used-block {
    left: 3%;
  }
}

@media (max-width: 550px) {
  .header .header__logo {
    padding: 0px 50px 0px 0px;
  }

  .users .users__container {
    padding: 50px 0px 0px 200px;
  }

  .provide .provide__image {
    display: none;
  }

  .provide .provide {
    padding: 0px 0px 0px 0px;
  }

  .provide .provide__content {
    padding: 0px 0px 0px 10px;
  }

  .plan .plan__used-block {
    position: relative;
    left: 1%;
  }

  .plan .plan-menu__body {
    padding: 0px 0px 0px 200px;
  }

  .plan .plan-menu__body {
    padding: 0px 0px 0px 150px;
  }

  .footer .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .footer__colunm {
    text-align: center;
    padding: 0px 0px 50px 0px;
  }

  .footer .footer__main {
    padding: 0px 0px 30px 0px;
  }
}

@media (max-width: 500px) {
  .header .header__logo {
    padding: 0px 0px 0px 0px;
    background-image: url("../img/icon-logo.svg");
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
            flex: 0 0 35px;
    overflow: hidden;
  }

  .get-started .get-started__title {
    font-size: 40px;
  }

  .get-started .get-started__text {
    font-size: 13px;
  }

  .users .users__container {
    padding: 50px 0px 0px 150px;
  }

  .global .global__used-block {
    left: 14%;
  }
}

@media (max-width: 450px) {
  .get-started .get-started__title {
    font-size: 30px;
  }

  .get-started .get-started__text {
    font-size: 12px;
  }

  .happy .happy__used-block {
    left: 0;
  }

  .subscribe .subscribe__title {
    font-size: 26px;
    padding: 0px 0px 10px 0px;
  }
}

@media (max-width: 400px) {
  .users .users__container {
    padding: 50px 0px 0px 100px;
  }

  .plan .plan-menu__body {
    padding: 0px 0px 0px 130px;
  }

  .global .global__used-block {
    left: 3%;
  }

  .happy .slide-swiper-happy__response {
    padding: 20px 0px 0px 60px;
  }

  .happy .slide-swiper-happy__response-star {
    padding: 10px 0px 0px 5px;
  }
}

@media (max-width: 380px) {
  .plan .plan-menu__body {
    padding: 0px 0px 0px 120px;
  }
}

@media (max-width: 350px) {
  .get-started .get-started__title {
    padding: 25px 0px 15px 0px;
    line-height: 50px;
  }

  .get-started .get-started__text {
    padding: 0px 0px 25px 0px;
  }

  .users .users__container {
    padding: 50px 0px 0px 65px;
  }

  .plan .plan-menu__body {
    padding: 0px 0px 0px 100px;
  }

  .subscribe .subscribe__title {
    font-size: 20px;
  }

  .subscribe .subscribe__text {
    font-size: 13px;
  }
}